<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/elasticsearch
		http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch-1.0.xsd">

    <!-- 配置Client -->
    <!--<elasticsearch:transport-client id="client" cluster-nodes="localhost:9300,localhost:9301,localhost:9302"-->
                                    <!--cluster-name="my-application"/>-->

    <!--&lt;!&ndash; 配置搜索模板  &ndash;&gt;-->
    <!--<bean id="elasticsearchTemplate"-->
          <!--class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">-->
        <!--<constructor-arg name="client" ref="client"/>-->
    <!--</bean>-->
</beans>


